.git
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
node_modules
vendor
.env
.env.*
*.idea
*.vscode
*.log
*.tmp
*.swp
*.swo
docker-compose.*
Dockerfile
.dockerignore
.DS_Store
Thumbs.db
